.medio {
	text-align: center;
}

.pie {
    background-color:#2b2b2b;
    color:#ddd;
    min-height:100px;
    padding:20px 0;
}

.pie .nav>li>a {
    padding: 3px;
    color: #f44d3c;
}
.pie .nav>li{
    padding: 3px;
    color: #f44d3c;
}

.pie .nav>li>a:hover {
    background-color:transparent;
    color:#fff;
}

.map {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #F5F5F5;
    color: #36A0FF;
    height: 70px;
    font-size: 27px;
    padding: 10px;
}
.form-group {
    width: 100%;
}

.lista {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.lista li {
  border-bottom: 1px solid #ccc;
  padding: 2px;
}

.lista li:last-child {
  border: none;
}

.lista li a {
  text-decoration: none;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

.lista li a:hover {
  font-size: 1.5em;
  background: #f6f6f6;
}